node_modules
npm-debug.log
.git
.env
dist
server/node_modules
server/.env
server/database.sqlite
.DS_Store
dist-ssr
.gitignore
.env.local
.env.*.local
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.log
coverage
.cache
README.md
bun.lockb
